@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    list-style-type: none;
    box-sizing: border-box;
   
}

:root {
    --color-primary: #235ad1;
    --font: 'Lato', sans-serif, 15 px;
    --primary: #79C7C5;
    --secondary: #777777;
    --white: #F9FBFF;
    --dark: #555555;
    --other: #A1E2D9;
}
.mess {
    font-family: 'EB Garamond', serif;
    margin: 7px;
    padding: 5px;
    border-radius: 10px;
    background-color: #c7daff;
    margin: 5px;
}
.msg {

    font-size:20px;
}

.name_time {
    color: #5c7ab8;
    font-size: 14px;
}
body, html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    font-size: 16px;
    font-size: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.45;
    background-color: #5c7ab8;
}
.chat{
    height:100%;
}
.middle {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    min-height: 90vh;
    max-height: 90vh;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 1em;
    padding-bottom: 0;
    background: var(--white);
    overflow-x: hidden;
}
#discussion {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-family: inherit;
    font-size: 1em;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 100%;
}

.container {
    display: inline-block;
    width: 100%;
    height: 10vh;
    text-align: center;
}
#message {
    width: 89vh;
    word-break: break-word;
    padding: 0;
    margin: auto;
}
.sendmessage {
    -webkit-appearance: none;
    text-align: center;
    border: 0;
    width: 11vh;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    color: #fff;
    border: 2px solid var(--other);
    border-left: 0;
    border-radius: 0 8px 8px 0;
    font-family: inherit;
    font-size: 1em;
    transition: 200ms all ease-in;
}
    .sendmessage:hover {
        background-color: #363636;
        border-color: #CC8914;
        color: #fff;
       
    }

::-webkit-scrollbar {
    width: 0.65em; /* for vertical scrollbars */
    height: 0.65em; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

